In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('StudentPerformance.csv')

In [3]:
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count,Gender
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,75.0,89.0,75.0,94.0,2018.0,3.0,Male
2,74.0,84.0,65.0,100.0,2020.0,3.0,Female
3,67.0,80.0,60.0,85.0,2019.0,3.0,Male
4,61.0,80.0,78.0,83.0,2018.0,2.0,Female
5,68.0,86.0,76.0,92.0,2018.0,3.0,Male
6,78.0,91.0,79.0,84.0,2021.0,2.0,Male
7,NaN,91.0,68.0,NaN,NaN,1.0,Male
8,60.0,76.0,65.0,89.0,2019.0,3.0,Female
9,61.0,82.0,63.0,86.0,2019.0,3.0,Female
10,69.0,81.0,80.0,87.0,2018.0,3.0,Female
11,68.0,NaN,76.0,97.0,2021.0,3.0,Female
12,77.0,80.0,NaN,97.0,2018.0,3.0,Male
13,65.0,75.0,75.0,82.0,2021.0,2.0,Male
14,67.0,76.0,72.0,83.0,2021.0,2.0,Female
15,60.0,84.0,72.0,95.0,2021.0,3.0,Female
16,72.0,90.0,66.0,98.0,2018.0,3.0,Male
17,60.0,78.0,68.0,92.0,2021.0,3.0,Female
18,62.0,87.0,63.0,81.0,2020.0,2.0,Male
19,70.0,87.0,70.0,91.0,2019.0,3.0,Male
20,71.0,95.0,72.0,99.0,2019.0,3.0,Female
21,68.0,NaN,68.0,95.0,2020.0,3.0,Male
22,61.0,82.0,80.0,NaN,2021.0,1.0,Female
23,63.0,82.0,72.0,84.0,NaN,2.0,Female
24,66.0,80.0,77.0,91.0,2021.0,3.0,Female
25,NaN,86.0,75.0,94.0,2019.0,3.0,Female
26,62.0,92.0,79.0,82.0,2021.0,2.0,Female
27,68.0,91.0,70.0,NaN,2020.0,1.0,Male
28,65.0,95.0,67.0,95.0,2019.0,3.0,Male
29,65.0,77.0,67.0,100.0,2021.0,3.0,Female
30,76.0,82.0,69.0,89.0,2021.0,3.0,Female
31,78.0,95.0,72.0,97.0,NaN,3.0,Male

In [4]:
df.isnull()

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count,Gender
0,True,True,True,True,True,True,True
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,True,False,False,True,True,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,True,False,False,False,False,False
12,False,False,True,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,True,False,False,False,False,False
22,False,False,False,True,False,False,False
23,False,False,False,False,True,False,False
24,False,False,False,False,False,False,False
25,True,False,False,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,True,False,False,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False
30,False,False,False,False,False,False,False
31,False,False,False,False,True,False,False

In [5]:
df.notnull()

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count,Gender
0,False,False,False,False,False,False,False
1,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True
7,False,True,True,False,False,True,True
8,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True
11,True,False,True,True,True,True,True
12,True,True,False,True,True,True,True
13,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True
21,True,False,True,True,True,True,True
22,True,True,True,False,True,True,True
23,True,True,True,True,False,True,True
24,True,True,True,True,True,True,True
25,False,True,True,True,True,True,True
26,True,True,True,True,True,True,True
27,True,True,True,False,True,True,True
28,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True
30,True,True,True,True,True,True,True
31,True,True,True,True,False,True,True

In [ ]:
df.fillna(80)

In [ ]:
df

In [7]:
import pandas as pd

In [8]:
df=pd.read_csv('StudentPerformance.csv')

In [9]:
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count,Gender
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,75.0,89.0,75.0,94.0,2018.0,3.0,Male
2,74.0,84.0,65.0,100.0,2020.0,3.0,Female
3,67.0,80.0,60.0,85.0,2019.0,3.0,Male
4,61.0,80.0,78.0,83.0,2018.0,2.0,Female
5,68.0,86.0,76.0,92.0,2018.0,3.0,Male
6,78.0,91.0,79.0,84.0,2021.0,2.0,Male
7,NaN,91.0,68.0,NaN,NaN,1.0,Male
8,60.0,76.0,65.0,89.0,2019.0,3.0,Female
9,61.0,82.0,63.0,86.0,2019.0,3.0,Female
10,69.0,81.0,80.0,87.0,2018.0,3.0,Female
11,68.0,NaN,76.0,97.0,2021.0,3.0,Female
12,77.0,80.0,NaN,97.0,2018.0,3.0,Male
13,65.0,75.0,75.0,82.0,2021.0,2.0,Male
14,67.0,76.0,72.0,83.0,2021.0,2.0,Female
15,60.0,84.0,72.0,95.0,2021.0,3.0,Female
16,72.0,90.0,66.0,98.0,2018.0,3.0,Male
17,60.0,78.0,68.0,92.0,2021.0,3.0,Female
18,62.0,87.0,63.0,81.0,2020.0,2.0,Male
19,70.0,87.0,70.0,91.0,2019.0,3.0,Male
20,71.0,95.0,72.0,99.0,2019.0,3.0,Female
21,68.0,NaN,68.0,95.0,2020.0,3.0,Male
22,61.0,82.0,80.0,NaN,2021.0,1.0,Female
23,63.0,82.0,72.0,84.0,NaN,2.0,Female
24,66.0,80.0,77.0,91.0,2021.0,3.0,Female
25,NaN,86.0,75.0,94.0,2019.0,3.0,Female
26,62.0,92.0,79.0,82.0,2021.0,2.0,Female
27,68.0,91.0,70.0,NaN,2020.0,1.0,Male
28,65.0,95.0,67.0,95.0,2019.0,3.0,Male
29,65.0,77.0,67.0,100.0,2021.0,3.0,Female
30,76.0,82.0,69.0,89.0,2021.0,3.0,Female
31,78.0,95.0,72.0,97.0,NaN,3.0,Male

In [10]:
df.fillna(80)

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count,Gender
0,80.0,80.0,80.0,80.0,80.0,80.0,80
1,75.0,89.0,75.0,94.0,2018.0,3.0,Male
2,74.0,84.0,65.0,100.0,2020.0,3.0,Female
3,67.0,80.0,60.0,85.0,2019.0,3.0,Male
4,61.0,80.0,78.0,83.0,2018.0,2.0,Female
5,68.0,86.0,76.0,92.0,2018.0,3.0,Male
6,78.0,91.0,79.0,84.0,2021.0,2.0,Male
7,80.0,91.0,68.0,80.0,80.0,1.0,Male
8,60.0,76.0,65.0,89.0,2019.0,3.0,Female
9,61.0,82.0,63.0,86.0,2019.0,3.0,Female
10,69.0,81.0,80.0,87.0,2018.0,3.0,Female
11,68.0,80.0,76.0,97.0,2021.0,3.0,Female
12,77.0,80.0,80.0,97.0,2018.0,3.0,Male
13,65.0,75.0,75.0,82.0,2021.0,2.0,Male
14,67.0,76.0,72.0,83.0,2021.0,2.0,Female
15,60.0,84.0,72.0,95.0,2021.0,3.0,Female
16,72.0,90.0,66.0,98.0,2018.0,3.0,Male
17,60.0,78.0,68.0,92.0,2021.0,3.0,Female
18,62.0,87.0,63.0,81.0,2020.0,2.0,Male
19,70.0,87.0,70.0,91.0,2019.0,3.0,Male
20,71.0,95.0,72.0,99.0,2019.0,3.0,Female
21,68.0,80.0,68.0,95.0,2020.0,3.0,Male
22,61.0,82.0,80.0,80.0,2021.0,1.0,Female
23,63.0,82.0,72.0,84.0,80.0,2.0,Female
24,66.0,80.0,77.0,91.0,2021.0,3.0,Female
25,80.0,86.0,75.0,94.0,2019.0,3.0,Female
26,62.0,92.0,79.0,82.0,2021.0,2.0,Female
27,68.0,91.0,70.0,80.0,2020.0,1.0,Male
28,65.0,95.0,67.0,95.0,2019.0,3.0,Male
29,65.0,77.0,67.0,100.0,2021.0,3.0,Female
30,76.0,82.0,69.0,89.0,2021.0,3.0,Female
31,78.0,95.0,72.0,97.0,80.0,3.0,Male

In [11]:
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count,Gender
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,75.0,89.0,75.0,94.0,2018.0,3.0,Male
2,74.0,84.0,65.0,100.0,2020.0,3.0,Female
3,67.0,80.0,60.0,85.0,2019.0,3.0,Male
4,61.0,80.0,78.0,83.0,2018.0,2.0,Female
5,68.0,86.0,76.0,92.0,2018.0,3.0,Male
6,78.0,91.0,79.0,84.0,2021.0,2.0,Male
7,NaN,91.0,68.0,NaN,NaN,1.0,Male
8,60.0,76.0,65.0,89.0,2019.0,3.0,Female
9,61.0,82.0,63.0,86.0,2019.0,3.0,Female
10,69.0,81.0,80.0,87.0,2018.0,3.0,Female
11,68.0,NaN,76.0,97.0,2021.0,3.0,Female
12,77.0,80.0,NaN,97.0,2018.0,3.0,Male
13,65.0,75.0,75.0,82.0,2021.0,2.0,Male
14,67.0,76.0,72.0,83.0,2021.0,2.0,Female
15,60.0,84.0,72.0,95.0,2021.0,3.0,Female
16,72.0,90.0,66.0,98.0,2018.0,3.0,Male
17,60.0,78.0,68.0,92.0,2021.0,3.0,Female
18,62.0,87.0,63.0,81.0,2020.0,2.0,Male
19,70.0,87.0,70.0,91.0,2019.0,3.0,Male
20,71.0,95.0,72.0,99.0,2019.0,3.0,Female
21,68.0,NaN,68.0,95.0,2020.0,3.0,Male
22,61.0,82.0,80.0,NaN,2021.0,1.0,Female
23,63.0,82.0,72.0,84.0,NaN,2.0,Female
24,66.0,80.0,77.0,91.0,2021.0,3.0,Female
25,NaN,86.0,75.0,94.0,2019.0,3.0,Female
26,62.0,92.0,79.0,82.0,2021.0,2.0,Female
27,68.0,91.0,70.0,NaN,2020.0,1.0,Male
28,65.0,95.0,67.0,95.0,2019.0,3.0,Male
29,65.0,77.0,67.0,100.0,2021.0,3.0,Female
30,76.0,82.0,69.0,89.0,2021.0,3.0,Female
31,78.0,95.0,72.0,97.0,NaN,3.0,Male

In [13]:
df.dropna()

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count,Gender
1,75.0,89.0,75.0,94.0,2018.0,3.0,Male
2,74.0,84.0,65.0,100.0,2020.0,3.0,Female
3,67.0,80.0,60.0,85.0,2019.0,3.0,Male
4,61.0,80.0,78.0,83.0,2018.0,2.0,Female
5,68.0,86.0,76.0,92.0,2018.0,3.0,Male
6,78.0,91.0,79.0,84.0,2021.0,2.0,Male
8,60.0,76.0,65.0,89.0,2019.0,3.0,Female
9,61.0,82.0,63.0,86.0,2019.0,3.0,Female
10,69.0,81.0,80.0,87.0,2018.0,3.0,Female
13,65.0,75.0,75.0,82.0,2021.0,2.0,Male
14,67.0,76.0,72.0,83.0,2021.0,2.0,Female
15,60.0,84.0,72.0,95.0,2021.0,3.0,Female
16,72.0,90.0,66.0,98.0,2018.0,3.0,Male
17,60.0,78.0,68.0,92.0,2021.0,3.0,Female
18,62.0,87.0,63.0,81.0,2020.0,2.0,Male
19,70.0,87.0,70.0,91.0,2019.0,3.0,Male
20,71.0,95.0,72.0,99.0,2019.0,3.0,Female
24,66.0,80.0,77.0,91.0,2021.0,3.0,Female
26,62.0,92.0,79.0,82.0,2021.0,2.0,Female
28,65.0,95.0,67.0,95.0,2019.0,3.0,Male
29,65.0,77.0,67.0,100.0,2021.0,3.0,Female
30,76.0,82.0,69.0,89.0,2021.0,3.0,Female

In [17]:
df.Reading_Score.replace(80,75)

0      NaN
1     89.0
2     84.0
3     75.0
4     75.0
5     86.0
6     91.0
7     91.0
8     76.0
9     82.0
10    81.0
11     NaN
12    75.0
13    75.0
14    76.0
15    84.0
16    90.0
17    78.0
18    87.0
19    87.0
20    95.0
21     NaN
22    82.0
23    82.0
24    75.0
25    86.0
26    92.0
27    91.0
28    95.0
29    77.0
30    82.0
31    95.0
Name: Reading_Score, dtype: float64

In [18]:
df.shape

(32, 7)

In [20]:
import pandas as pd

In [22]:
df1=pd.read_csv('StudentPerformance.csv')

In [24]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df1['Gender']=le.fit_transform(df1['Gender'])
newdf=df1

In [25]:
df

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count,Gender
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,75.0,89.0,75.0,94.0,2018.0,3.0,Male
2,74.0,84.0,65.0,100.0,2020.0,3.0,Female
3,67.0,80.0,60.0,85.0,2019.0,3.0,Male
4,61.0,80.0,78.0,83.0,2018.0,2.0,Female
5,68.0,86.0,76.0,92.0,2018.0,3.0,Male
6,78.0,91.0,79.0,84.0,2021.0,2.0,Male
7,NaN,91.0,68.0,NaN,NaN,1.0,Male
8,60.0,76.0,65.0,89.0,2019.0,3.0,Female
9,61.0,82.0,63.0,86.0,2019.0,3.0,Female
10,69.0,81.0,80.0,87.0,2018.0,3.0,Female
11,68.0,NaN,76.0,97.0,2021.0,3.0,Female
12,77.0,80.0,NaN,97.0,2018.0,3.0,Male
13,65.0,75.0,75.0,82.0,2021.0,2.0,Male
14,67.0,76.0,72.0,83.0,2021.0,2.0,Female
15,60.0,84.0,72.0,95.0,2021.0,3.0,Female
16,72.0,90.0,66.0,98.0,2018.0,3.0,Male
17,60.0,78.0,68.0,92.0,2021.0,3.0,Female
18,62.0,87.0,63.0,81.0,2020.0,2.0,Male
19,70.0,87.0,70.0,91.0,2019.0,3.0,Male
20,71.0,95.0,72.0,99.0,2019.0,3.0,Female
21,68.0,NaN,68.0,95.0,2020.0,3.0,Male
22,61.0,82.0,80.0,NaN,2021.0,1.0,Female
23,63.0,82.0,72.0,84.0,NaN,2.0,Female
24,66.0,80.0,77.0,91.0,2021.0,3.0,Female
25,NaN,86.0,75.0,94.0,2019.0,3.0,Female
26,62.0,92.0,79.0,82.0,2021.0,2.0,Female
27,68.0,91.0,70.0,NaN,2020.0,1.0,Male
28,65.0,95.0,67.0,95.0,2019.0,3.0,Male
29,65.0,77.0,67.0,100.0,2021.0,3.0,Female
30,76.0,82.0,69.0,89.0,2021.0,3.0,Female
31,78.0,95.0,72.0,97.0,NaN,3.0,Male

In [26]:
df1

,Math_Score,Reading_Score,Writing_Score,Placement_Score,Club_Join_Date,Placement_Offer_Count,Gender
0,NaN,NaN,NaN,NaN,NaN,NaN,2
1,75.0,89.0,75.0,94.0,2018.0,3.0,1
2,74.0,84.0,65.0,100.0,2020.0,3.0,0
3,67.0,80.0,60.0,85.0,2019.0,3.0,1
4,61.0,80.0,78.0,83.0,2018.0,2.0,0
5,68.0,86.0,76.0,92.0,2018.0,3.0,1
6,78.0,91.0,79.0,84.0,2021.0,2.0,1
7,NaN,91.0,68.0,NaN,NaN,1.0,1
8,60.0,76.0,65.0,89.0,2019.0,3.0,0
9,61.0,82.0,63.0,86.0,2019.0,3.0,0
10,69.0,81.0,80.0,87.0,2018.0,3.0,0
11,68.0,NaN,76.0,97.0,2021.0,3.0,0
12,77.0,80.0,NaN,97.0,2018.0,3.0,1
13,65.0,75.0,75.0,82.0,2021.0,2.0,1
14,67.0,76.0,72.0,83.0,2021.0,2.0,0
15,60.0,84.0,72.0,95.0,2021.0,3.0,0
16,72.0,90.0,66.0,98.0,2018.0,3.0,1
17,60.0,78.0,68.0,92.0,2021.0,3.0,0
18,62.0,87.0,63.0,81.0,2020.0,2.0,1
19,70.0,87.0,70.0,91.0,2019.0,3.0,1
20,71.0,95.0,72.0,99.0,2019.0,3.0,0
21,68.0,NaN,68.0,95.0,2020.0,3.0,1
22,61.0,82.0,80.0,NaN,2021.0,1.0,0
23,63.0,82.0,72.0,84.0,NaN,2.0,0
24,66.0,80.0,77.0,91.0,2021.0,3.0,0
25,NaN,86.0,75.0,94.0,2019.0,3.0,0
26,62.0,92.0,79.0,82.0,2021.0,2.0,0
27,68.0,91.0,70.0,NaN,2020.0,1.0,1
28,65.0,95.0,67.0,95.0,2019.0,3.0,1
29,65.0,77.0,67.0,100.0,2021.0,3.0,0
30,76.0,82.0,69.0,89.0,2021.0,3.0,0
31,78.0,95.0,72.0,97.0,NaN,3.0,1